page-list-places {
    .searchbar-input {
        border: 0 !important;
        box-shadow: none !important;
        background-color: transparent!important;
        color: color($colors, white) !important;
        font-family: $font-light-md-italic;
    }
    ion-content {
        background-image: url('../../assets/imgs/mrQuickPlaces.png');
        background-size: cover;
        background-position-x: 50%;
        ion-item {
            background: color($colors, dark) !important;
            .title {
                @include font-size(31.08pt);
                color: color($colors, primary);
                font-family: $font-gotham-medium-md-regular;
            }
            .text {
                @include font-size($f-size);
                color: color($colors, primary);
                font-family: $font-light-md-italic;
            }
            .category {             
                span {
                    text-decoration: underline;
                }                  
                @include font-size($f-size);
                font-family: $font-light-md-regular;
                color: color($colors, light);
            }
            .time {
                color: color($colors, secondary);
                font-weight: bold;
                @include font-size($f-size);
                font-family: $font-gotham-bold-md-regular;
            }
            .status {
                color: color($colors, green);
                @include font-size($f-size);
                text-transform: uppercase;
                font-family: $font-gotham-bold-md-regular;
                &.text-secondary {
                    color: color($colors, secondary);
                }
            }
        }
    }
    .toolbar-title {
        color: color($colors, primary);
        text-align: center;
    }
    ion-header ion-icon.back-button-icon.icon {
        color: map-get($colors, primary);
    }
}